main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, max-content);
    grid-gap: 1rem 1rem;
    font-family: helvetica, arial, sans-serif;
  /*   font-size: 16px; */
    font-size: .95vw;
    font-weight: bold;
    margin: 2rem;
  }
  
  .sit_baseline {
    height: 12.6vw;
  }
  
  main h1 {
  /*   font-size: 16rem; */
    font-size: 15vw;
    text-align: center;
  }
  
  header h1 {
  /*   font-size: 3rem; */
    font-size: 2.85vw;
    text-align: left;
  }
  
  img {
    max-width: 100%;
  }
  
  header {
    grid-area: 1/ 5 / 2 / 7;
  }
  
  .title1 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: start;
  }
  
  .img1 {
    grid-area: 1 / 2 / 3 / 4;
  }
  
  .title2 {
    grid-area: 2 / 4 / 3 / 5;
    align-self: end;
  }
  
  .img2 {
    grid-area: 2 / 5 / 3 / 6;
  }
  
  .img3 {
      grid-area: 3 / 1 / 5 / 3;
  }
  
  .img4 {
    grid-area: 3 / 3 / 5 / 5;
  }
  
  .img5 {
    grid-area: 3 / 5 / 4 / 6;
  }
  
  .title3 {
    grid-area: 5 / 1 / 6 / 5;
  }
  
  .img6 {
    grid-area: 4 / 5 / 6 / 7;
  }
  
  .title4 {
    grid-area: 6 / 1 / 8 / 2;
  }
  
  .img7 {
    grid-area: 6 / 2 / 8 / 4;
  }
  
  .img8 {
    grid-area: 6 / 4 / 7 / 5;
  }
  
  .img9 {
    grid-area: 7 / 4 / 8 / 5;
  }
  
  p {
    grid-area: 6 / 5 / 8 / 7;
    width: 60%;
    line-height: 1.65;
    align-self: end;
  }
  
  .img10 {
    grid-area: 8 / 2 / 9 / 3;
  }
  
  .title5 {
    grid-area: 8 / 4 / 9 / 5;
    align-self: end;
  }
  
  address {
    grid-area: 9 / 5 / 10 / 6;
    align-self: end;
    line-height: 1.4;
  }
  
  @media (max-width: 1080px) {
    main {
        grid-template-columns: repeat(5, 1fr);
    }
    header {
    grid-area: 1/ 4 / 2 / 6;
    }
    
    .title2 {
      grid-area: 2 / 4 / 3 / 5;
      align-self: end;
    }
  
    .img2 {
      grid-area: 2 / 4 / 3 / 5;
    }
    
    .img4 {
      grid-area: 3 / 3 / 4 / 4;
    }
    
    .title2  {
      grid-area: 3 / 4 / 4 / 5;
    }
    
    .img5 {
      grid-area: 4 / 3 / 5 / 4;
    }
    
    .img6 {
      grid-area: 4 / 4 / 6 / 6;
    }
    
    .title3 {
      grid-area: 5 / 1 / 6 / 3;
    }
    
    .title4 {
      grid-area: 6 / 4 / 7 / 5;
    }
    
    .img8 {
      grid-area: 6 / 1 / 7 / 2;
    }
    
    main p {
      columns: 3;
      column-gap: 8px;
      grid-area: 9 / 1 / 10 / 7;
    }
    address, main p {
      font-size: .7rem;
    }
    
  }
  
  @media (max-width: 880px) {
    main {
      display: flex;
      flex-direction: column;
    }
    main p {
      columns: 1;
      column-gap: 0;
      font-size: 16px;
    }

    
    .title1 {
      order: 1;
    }
    
    .title2 {
      order: 2;
    }
    
    .img1, .img2 {
      order: 3;
    }
    
     .title3, .title4 {
      order: 5;
    }
    
    .title2, .img3, .img4 {
      order: 4;
    }
    
    .img5, .img6 {
      order: 6;
    }
    
    .title5 {
      order: 7
    }
    
    .img8, .img9, .img10 {
      order: 8;
    }
    
    main p,  address {
      order: 9;
    }
  }